<div>
  <h2 id="page-heading" data-cy="ExameHeading">
    <span>Exames</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-exame"
        [routerLink]="['/exame/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Exame </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="exames?.length === 0">
    <span>No exames found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="exames && exames.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Situacao</span></th>
          <th scope="col"><span>Disponibilidade Exame</span></th>
          <th scope="col"><span>Associado</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exame of exames; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/exame', exame.id, 'view']">{{ exame.id }}</a>
          </td>
          <td>{{ exame.situacao }}</td>
          <td>
            <div *ngIf="exame.disponibilidadeExame">
              <a [routerLink]="['/disponibilidade-exame', exame.disponibilidadeExame?.id, 'view']">{{ exame.disponibilidadeExame?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="exame.associado">
              <a [routerLink]="['/associado', exame.associado?.id, 'view']">{{ exame.associado?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/exame', exame.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/exame', exame.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(exame)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
