<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="plano">
      <h2 data-cy="planoDetailsHeading"><span>Plano</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ plano.id }}</span>
        </dd>
        <dt><span>Nome</span></dt>
        <dd>
          <span>{{ plano.nome }}</span>
        </dd>
        <dt><span>Codigo ANS</span></dt>
        <dd>
          <span>{{ plano.codigoANS }}</span>
        </dd>
        <dt><span>Categoria</span></dt>
        <dd>
          <span>{{ plano.categoria }}</span>
        </dd>
        <dt><span>Tipo</span></dt>
        <dd>
          <span>{{ plano.tipo }}</span>
        </dd>
        <dt><span>Odonto</span></dt>
        <dd>
          <span>{{ plano.odonto }}</span>
        </dd>
        <dt><span>Idade Min</span></dt>
        <dd>
          <span>{{ plano.idadeMin }}</span>
        </dd>
        <dt><span>Idade Max</span></dt>
        <dd>
          <span>{{ plano.idadeMax }}</span>
        </dd>
        <dt><span>Quantidade Consultas Ano</span></dt>
        <dd>
          <span>{{ plano.quantidadeConsultasAno }}</span>
        </dd>
        <dt><span>Quanatidade Exames Ano</span></dt>
        <dd>
          <span>{{ plano.quanatidadeExamesAno }}</span>
        </dd>
        <dt><span>Valor Mensalidade</span></dt>
        <dd>
          <span>{{ plano.valorMensalidade }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/plano', plano.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
