<div>
  <h2 id="page-heading" data-cy="PrestadorHeading">
    <span>Prestadors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-prestador"
        [routerLink]="['/prestador/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Prestador </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="prestadors?.length === 0">
    <span>No prestadors found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="prestadors && prestadors.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Nome</span></th>
          <th scope="col"><span>Sobrenome</span></th>
          <th scope="col"><span>Data Nascimento</span></th>
          <th scope="col"><span>Sexo</span></th>
          <th scope="col"><span>Numero Registro Profissional</span></th>
          <th scope="col"><span>Telefone</span></th>
          <th scope="col"><span>Endereco Atendimento</span></th>
          <th scope="col"><span>Especialidade</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prestador of prestadors; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/prestador', prestador.id, 'view']">{{ prestador.id }}</a>
          </td>
          <td>{{ prestador.nome }}</td>
          <td>{{ prestador.sobrenome }}</td>
          <td>{{ prestador.dataNascimento | formatMediumDatetime }}</td>
          <td>{{ prestador.sexo }}</td>
          <td>{{ prestador.numeroRegistroProfissional }}</td>
          <td>{{ prestador.telefone }}</td>
          <td>
            <div *ngIf="prestador.enderecoAtendimento">
              <a [routerLink]="['/endereco', prestador.enderecoAtendimento?.id, 'view']">{{ prestador.enderecoAtendimento?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="prestador.especialidade">
              <a [routerLink]="['/especialidade', prestador.especialidade?.id, 'view']">{{ prestador.especialidade?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/prestador', prestador.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/prestador', prestador.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(prestador)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
