<div>
  <h2 id="page-heading" data-cy="ConveniadoHeading">
    <span>Conveniados</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-conveniado"
        [routerLink]="['/conveniado/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Conveniado </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="conveniados?.length === 0">
    <span>No conveniados found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="conveniados && conveniados.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Nome</span></th>
          <th scope="col"><span>Telefone</span></th>
          <th scope="col"><span>Endereco</span></th>
          <th scope="col"><span>Tipo Exame</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let conveniado of conveniados; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/conveniado', conveniado.id, 'view']">{{ conveniado.id }}</a>
          </td>
          <td>{{ conveniado.nome }}</td>
          <td>{{ conveniado.telefone }}</td>
          <td>
            <div *ngIf="conveniado.endereco">
              <a [routerLink]="['/endereco', conveniado.endereco?.id, 'view']">{{ conveniado.endereco?.id }}</a>
            </div>
          </td>
          <td>
            <span *ngFor="let tipoExame of conveniado.tipoExames; let last = last">
              <a class="form-control-static" [routerLink]="['/tipo-exame', tipoExame.id, 'view']">{{ tipoExame.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/conveniado', conveniado.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/conveniado', conveniado.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(conveniado)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
